/vendor/
/.idea/
/nuget/
**/bin/
**/obj/
**/node_modules/
.pulumi
Pulumi.*.yaml
yarn.lock
/sdk/dotnet/version.txt
**/dist
provider/cmd/pulumi-resource-aws-native/schema.go
provider/cmd/cf2pulumi/schema.go
