/vendor/
/.idea/
/nuget/
**/bin/
**/obj/
**/node_modules/
.pulumi
Pulumi.*.yaml
yarn.lock
/sdk/dotnet/version.txt
**/dist
provider/coverage.txt
provider/cmd/pulumi-resource-aws-native/metadata.json.gz
provider/cmd/pulumi-resource-aws-native/schema.json.gz
provider/cmd/cf2pulumi/schema.json.gz
provider/cmd/cf2pulumi/metadata.json.gz
**/.DS_Store
ci-scripts
.vscode
.envrc

sdk/java/build
sdk/java/src
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat

sdk/python/venv
sdk/python/README.md
.mono
