name: weekly-sdk-generation
on:
  schedule:
    # run 4:35 AM UTC on Mondays
  - cron: 35 4 * * 1
  workflow_dispatch: {}
  pull_request: {}
env:
  PROVIDER: aws-native
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  TRAVIS_OS_NAME: linux
  PULUMI_GO_DEP_ROOT: ${{ github.workspace }}/..
  GOVERSION: 1.21.x
  NODEVERSION: 20.x
  PYTHONVERSION: "3.11"
  DOTNETVERSION: 8.0.x
  JAVAVERSION: "11"
  AWS_REGION: us-west-2
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_PULUMI_ENABLE_JOURNALING: "true"
jobs:
  generate-sdk:
    runs-on: ubuntu-latest
    name: generate-sdk
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    steps:
    - name: Checkout Repo
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        lfs: true    
    - env:
        ESC_ACTION_ENVIRONMENT: github-secrets/${{ github.repository_owner }}-${{ github.event.repository.name }}
        ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: "false"
        ESC_ACTION_OIDC_AUTH: "true"
        ESC_ACTION_OIDC_ORGANIZATION: pulumi
        ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
      id: esc-secrets
      name: Fetch secrets from ESC
      uses: pulumi/esc-action@9eb774255b1a4afb7855678ae8d4a77359da0d9b
    - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-auth
      with:
        app-id: ${{ steps.esc-secrets.outputs.PULUMI_PROVIDER_AUTOMATION_APP_ID }}
        private-key: ${{ steps.esc-secrets.outputs.PULUMI_PROVIDER_AUTOMATION_PRIVATE_KEY }}
        owner: ${{ github.repository_owner }}
    - name: Setup Tools
      uses: ./.github/actions/setup-tools
      with:
        cache: 'true'
        github_token: ${{ steps.app-auth.outputs.token }}
    - name: Generate Pulumi Access Token
      id: generate_pulumi_token
      uses: pulumi/auth-actions@1c89817aab0c66407723cdef72b05266e7376640 # v1.0.1
      with:
        organization: pulumi
        requested-token-type: urn:pulumi:token-type:access_token:organization
        export-environment-variables: false
    - name: Export AWS Credentials
      uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1.5.0
      env:
        PULUMI_ACCESS_TOKEN: ${{ steps.generate_pulumi_token.outputs.pulumi-access-token }}
      with:
        environment: logins/pulumi-ci
    - name: Cleanup SDK Folder
      run: make clean
    - name: Discovery
      run: make discovery
    - name: Build codegen binaries
      run: make codegen
    - name: Build Schema + SDKs
      run: make local_generate
    - name: Git submodule commit hash
      id: vars
      run: echo commit-hash="$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
      working-directory: aws-cloudformation-user-guide
    - name: Create PR
      id: create-pr
      uses: peter-evans/create-pull-request@v8
      with:
        base: master
        committer: pulumi-bot <bot@pulumi.com>
        commit-message: Regenerating SDKs based on aws-cloudformation-user-guide @ ${{ steps.vars.outputs.commit-hash }}
        labels: needs-release/minor
        token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
        body: "*Automated PR*"
        title: Automated SDK generation @ aws-cloudformation-user-guide ${{
          steps.vars.outputs.commit-hash }}
        author: pulumi-bot <bot@pulumi.com>
        branch: create-pull-requeset/generate-sdk
    - name: Enable auto-merge
      id: auto-merge
      # enable auto-merge so PR merges after required checks
      run: gh pr merge --merge --auto ${{ steps.create-pr.outputs.pull-request-number }}
